ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
body {
    background-color: teal;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
